<div ng-init="details.getBook()">
  <div class="columns">
    <div class="column is-6">
      <h1 class="title">{{details.book.volumeInfo.title}}</h1>
      <h2 class="subtitle">{{details.book.volumeInfo.subtitle}}</h2>
    </div>
    <div class="column is-6 has-text-right">
      <h1 class="title">{{details.book.volumeInfo.authors.join(', ')}}</h1>
      <h2 class="subtitle">{{details.book.volumeInfo.categories.join(', ')}}</h2>
    </div>
  </div>
  <br>
  <tabs
    identifiers="details.book.volumeInfo.industryIdentifiers"
    download="details.book.accessInfo"
    images="details.book.volumeInfo.imageLinks"
    description="details.book.volumeInfo.description"></tabs>
</div>
